<form action="/admin/comments" method="get" class="flex items-center py-8 gap-2">
    <select class="max-w-xs form-select appearance-none block w-full px-2 py-1 text-base font-normal
        text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300
        rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600
        focus:outline-none cursor-pointer" aria-label="Selectionner le statut" name="is_published">
        <option class="cursor-pointer" value="1">Tous les commentaires</option>
        <option class="cursor-pointer" value="2">les commentaires publiés</option>
        <option class="cursor-pointer" value="3">les commentaires non-publiés</option>
    </select>
    <input type="text" name="search" id="search" placeholder="Rechercher un article"
           class="border border-gray-400 py-1 px-2 rounded focus:outline">
    <button type="submit" class="bg-gray-500 hover:bg-gray-400 py-1.5 px-3 rounded text-white">
        <i class="fas fa-search"></i>
    </button>
    <a href="/admin/comments" class="bg-red-500 hover:bg-red-400 py-1.5 px-3 rounded text-white hidden"
       id="remove-search"><i class="fas fa-times"></i></a>
</form>