{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Les commentaires
{% endblock %}

{% block content %}
    <section>
        <a href="/admin" class="font-semibold text-white bg-gray-600 hover:bg-gray-500 rounded py-2 px-4">
            <i class="fas fa-angle-left"></i> Retour
        </a>
        <h1 class="text-4xl font-semibold py-6 pb-0">Les commentaires</h1>
        {% include 'admin/comments/_filters.twig' %}
        <table class="rounded-t-lg w-full mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
                <th class="px-4 py-3">Contenu</th>
                <th class="px-4 py-3">Utilisateur</th>
                <th class="px-4 py-3">Article</th>
                <th class="px-4 py-3">Date de création</th>
                <th class="px-4 py-3">Actions</th>
            </tr>
            {% for comment in commentsPaginate.data %}
                <tr class="bg-gray-100 border-b border-gray-200">
                    <td class="px-4 py-2">{{ comment.content }}</td>
                    <td class="px-4 py-2">
                        <a href="/admin/users/{{ comment.user_id }}"
                           class="text-blue-500 hover:underline whitespace-nowrap">{{ comment.username }}</a>
                    </td>
                    <td class="px-4 py-2">
                        <a href="/posts/{{ comment.post_id }}"
                           class="text-blue-500 hover:underline">{{ comment.post_title|split('', 20)|first }}...</a>
                    </td>
                    <td class="px-4 py-2">{{ comment.createdAt|date('d/m/Y') }}</td>
                    <td class="p-4 flex items-center gap-2">
                        <form action="/admin/comments/{{ comment.id }}/toggle-published" method="post">
                            {% if(comment.is_published == 1) %}
                                <button type="submit" class="bg-orange-500 hover:bg-green-400 rounded py-1 px-2.5"
                                        title="non-publier">
                                    <i class="fa fas-solid fa-times text-white text-sm"></i>
                                </button>
                            {% else %}
                                <button type="submit" class="bg-green-500 hover:bg-green-400 rounded py-1 px-2.5"
                                        title="publier">
                                    <i class="fa fas-solid fa-check text-white text-sm"></i>
                                </button>
                            {% endif %}
                        </form>
                        <form action="/admin/comments/{{ comment.id }}/destroy" method="post">
                            <button type="submit" class="bg-red-500 hover:bg-red-400 rounded py-1 px-2.5"
                                    title="supprimer">
                                <i class="fa fas-solid fa-trash text-white text-sm"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr class="bg-gray-100 border-b border-gray-200">
                    <td class="px-4 py-6 font-semibold text-center" colspan="5">Aucun commentaire...</td>
                </tr>
            {% endfor %}
        </table>
        {% include 'components/pagination.twig' with {'paginate': commentsPaginate, 'link': '/admin/comments'} only %}
    </section>
{% endblock %}

{% block scripts %}
    <script>
        let queryParam = new URLSearchParams(window.location.search);
        if (queryParam.get("search")) {
            document.querySelector('#remove-search').style.display = 'block'
            document.querySelector('#search').value = queryParam.get("search")
        }
        if (queryParam.get("is_published")) {
            document.querySelector("option[value='" + queryParam.get("is_published") + "']").setAttribute('selected', 'true');
        } else {
            document.querySelector("option[value='1']").setAttribute('selected', 'true');
        }
    </script>
{% endblock %}