{% if form.name is defined %}
    <h1 class="text-4xl font-bold pb-10 pt-8">{{ form.name }}</h1>
{% endif %}
<form action="{{ form.action }}" method="post" class="flex flex-col gap-3">
    {% for messages in session.getFlashBag().get("errors_#{form.unique_name}") %}
        {% if messages is not empty %}
            <div class="flex flex-col gap-1.5 bg-red-500 rounded px-4 py-3">
                {% for message in messages %}
                    <p class="text-white">{{ message[0] }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    <input type="hidden" name="unique_name" value="{{ form.unique_name }}">
    <input type="hidden" name="csrf_token" value="{{ form.csrf_token }}">
    <div class="flex flex-col gap-4">
        {% for entry in form.entries %}
            {% if(entry.type == 'text') %}
                <div>
                    <label for="{{ entry.name }}" class="pb-1.5 block font-semibold">{{ entry.label }}</label>
                    <input type="text" name="{{ entry.name }}"
                           id="{{ entry.name }}" {{ entry.required == 1 ? 'required' : '' }}
                           value="{{ entry.defaultValue }}"
                           class="w-full border border-gray-300 rounded px-2 py-1 focus:outline-blue-500">
                </div>
            {% elseif(entry.type == 'email') %}
                <div>
                    <label for="{{ entry.name }}" class="pb-1.5 block font-semibold">{{ entry.label }}</label>
                    <input type="email" name="{{ entry.name }}"
                           id="{{ entry.name }}" {{ entry.required == 1 ? 'required' : '' }}
                           value="{{ entry.defaultValue }}"
                           class="w-full border border-gray-300 rounded px-2 py-1 focus:outline-blue-500">
                </div>
            {% elseif(entry.type == 'password') %}
                <div>
                    <label for="{{ entry.name }}" class="pb-1.5 block font-semibold">{{ entry.label }}</label>
                    <input type="password" name="{{ entry.name }}"
                           id="{{ entry.name }}" {{ entry.required == 1 ? 'required' : '' }}
                           value="{{ entry.defaultValue }}"
                           class="w-full border border-gray-300 rounded px-2 py-1 focus:outline-blue-500">
                </div>
            {% elseif(entry.type == 'textarea') %}
                <div>
                    <label for="{{ entry.name }}" class="pb-1.5 block font-semibold">{{ entry.label }}</label>
                    <textarea name="{{ entry.name }}"
                              id="{{ entry.name }}" {{ entry.required == 1 ? 'required' : '' }} rows="6"
                              class="w-full border border-gray-300 rounded px-2 py-1 focus:outline-blue-500">{{ entry.defaultValue }}</textarea>
                </div>
            {% elseif(entry.type == 'editor') %}
                <div>
                    <label for="{{ entry.name }}" class="pb-1.5 block font-semibold">{{ entry.label }}</label>
                    <textarea name="{{ entry.name }}"
                              id="{{ entry.name }}" class="editor">{{ entry.defaultValue }}</textarea>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button type="submit"
            class="bg-blue-500 hover:bg:blue-400 rounded py-2 text-white font-semibold mt-1">{{ form.button_name }}
    </button>
</form>