{% if(paginate.total_pages > 1) %}
    <div class="flex justify-between py-3 items-center bg-gray-100 px-6">
        <div class="flex items-center gap-2">
            {% if(paginate.prevPage) %}
                <a href="{{ link }}"
                   class="px-3.5 py-1.5 text-white bg-gray-400 hover:bg-gray-500 rounded">
                    <i class="fas fa-angle-double-left"></i>
                </a>
                <a href="{{ link }}?page={{ paginate.page - 1 }}"
                   class="px-4 py-1.5 text-white bg-gray-400 hover:bg-gray-500 rounded">
                    <i class="fas fa-angle-left"></i>
                </a>
            {% else %}
                <button class="px-3.5 py-1.5 text-white bg-gray-300 rounded cursor-not-allowed">
                    <i class="fas fa-angle-double-left"></i>
                </button>
                <button class="px-4 py-1.5 text-white bg-gray-300 rounded cursor-not-allowed">
                    <i class="fas fa-angle-left"></i>
                </button>
            {% endif %}
        </div>
        <p>{{ paginate.page }} / {{ paginate.total_pages }}</p>
        <div class="flex items-center gap-2">
            {% if(paginate.nextPage) %}
                <a href="{{ link }}?page={{ paginate.page + 1 }}"
                   class="px-4 py-1.5 text-white bg-gray-400 hover:bg-gray-500 rounded">
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="{{ link }}?page={{ paginate.total_pages }}"
                   class="px-4 py-1.5 text-white bg-gray-400 hover:bg-gray-500 rounded">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            {% else %}
                <button class="px-4 py-1.5 text-white bg-gray-300 rounded cursor-not-allowed">
                    <i class="fas fa-angle-right"></i>
                </button>
                <button class="px-4 py-1.5 text-white bg-gray-300 rounded cursor-not-allowed">
                    <i class="fas fa-angle-double-right"></i>
                </button>
            {% endif %}
        </div>
    </div>
{% endif %}
