{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Se connecter
{% endblock %}

{% block styles %}
    <style>
        body {
            background: rgb(59 130 246 / 0.05);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="sm:pt-12">
        <section class="mx-auto max-w-lg px-4 sm:px-8 py-8 border rounded bg-white">
            <h1 class="text-3xl sm:text-4xl font-bold text-center pb-6">Se connecter</h1>
            <p class="max-w-xs mx-auto text-center pb-4">Connectez-vous et publiez de nouveaux commentaires !</p>
            {% include 'components/form.twig' with {'form': form} only %}
            <p class="mt-4">Vous n'avez aucun compte ?
                <a href="/register" class="text-blue-500 hover:underline">Inscrivez-vous</a>.
            </p>
        </section>
    </div>
{% endblock %}
