.editor h2 {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.editor h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
}

.editor p {
    line-height: 1.65rem;
}

.editor blockquote {
    border-radius: 4px;
    border-left: 6px solid rgb(59 130 246 / .8);
    background-color: rgb(59 130 246 / 0.1);
    padding: 12px 0;
}

.editor blockquote p {
    margin-left: 12px;
}

.editor ol {
    padding-left: 40px;
    list-style: auto;
}

.editor ul {
    padding-left: 40px;
    list-style: initial;
}

.editor li {
    font-size: 1rem;
    line-height: 1.65rem;
}
