{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Tableau de bord
{% endblock %}

{% block content %}
    <section>
        <h1 class="text-4xl pb-8">Bienvenue sur le tableau de bord <b>{{ user.name }}</b></h1>
        <p class="text-lg">Gerer l'ensemble des utilisateurs, articles et commentaires disponibles sur le blog.</p>
        <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 mb-6 gap-3">
            <a href="/admin/users" class="text-white bg-blue-500 hover:bg-blue-400 rounded py-3 px-4">Gérer les
                utilisateurs</a>
            <a href="/admin/posts" class="text-white bg-green-500 hover:bg-green-400 rounded py-3 px-4">Gérer les articles</a>
            <a href="/admin/comments" class="text-white bg-purple-500 hover:bg-purple-400 rounded py-3 px-4">Gérer les
                commentaires</a>
        </div>
        <hr>
    </section>
{% endblock %}
