<div class="flex items-center">
    <form action="/admin/posts" method="get" class="mr-1">
        <input type="text" name="search" id="search" placeholder="Rechercher un article"
               class="border border-gray-400 py-1 px-2 rounded focus:outline">
        <button type="submit" class="bg-gray-500 hover:bg-gray-400 py-1.5 px-3 rounded text-white">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <a href="/admin/posts" class="bg-red-500 hover:bg-red-400 py-1.5 px-3 rounded text-white hidden"
       id="remove-search"><i
                class="fas fa-times"></i></a>
    <a href="/admin/posts/create"
       class="bg-blue-500 hover:bg-blue-400 py-1.5 px-3 rounded text-white ml-3">Ajouter un article</a>
</div>