{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Modifer un article
{% endblock %}

{% block scripts %}
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    <script src="../../../js/ckeditor.js"></script>
{% endblock %}

{% block content %}
    <section>
        <a href="/admin/posts" class="font-semibold text-white bg-gray-600 hover:bg-gray-500 rounded py-2 px-4">
            <i class="fas fa-angle-left"></i> Retour
        </a>
        {% include 'components/form.twig' with {'form': form} only %}
    </section>
{% endblock %}
