{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Les articles
{% endblock %}

{% block content %}
    <section>
        <a href="/admin" class="font-semibold text-white bg-gray-600 hover:bg-gray-500 rounded py-2 px-4">
            <i class="fas fa-angle-left"></i> Retour
        </a>
        <div class="flex justify-between items-center">
            <h1 class="text-4xl font-semibold py-8">Les articles</h1>
            {% include 'admin/posts/_filters.twig' %}
        </div>
        <table class="rounded-t-lg w-full mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
                <th class="px-4 py-3">Titre</th>
                <th class="px-4 py-3">Publié le</th>
                <th class="px-4 py-3">Modifié le</th>
                <th class="px-4 py-3">Actions</th>
            </tr>
            {% for post in postsPaginate.data %}
                <tr class="bg-gray-100 border-b border-gray-200">
                    <td class="px-4 py-2"><a href="/posts/{{ post.id }}"
                                             class="text-blue-500 hover:underline">{{ post.title }}</a></td>
                    <td class="px-4 py-2">{{ post.createdAt|date('d/m/Y') }}</td>
                    <td class="px-4 py-2">{{ post.updatedAt|date('d/m/Y') }}</td>
                    <td class="px-4 py-2 flex items-center gap-2">
                        <a href="/admin/posts/{{ post.id }}/edit" title="modifier"
                           class="bg-orange-500 hover:bg-orange-400 rounded py-1 px-2.5">
                            <i class="fa fas-solid fa-pen text-white text-sm"></i>
                        </a>
                        <form action="/admin/posts/{{ post.id }}/destroy" method="post">
                            <button type="submit" class="bg-red-500 hover:bg-red-400 rounded py-1 px-2.5"
                                    title="supprimer">
                                <i class="fa fas-solid fa-trash text-white text-sm"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr class="bg-gray-100 border-b border-gray-200">
                    <td class="px-4 py-6 font-semibold text-center" colspan="4">Aucun article...</td>
                </tr>
            {% endfor %}
        </table>
        {% include 'components/pagination.twig' with {'paginate': postsPaginate, 'link': '/admin/posts'} only %}
    </section>
{% endblock %}

{% block scripts %}
    <script>
        let queryParam = new URLSearchParams(window.location.search);
        if (queryParam.get("search")) {
            document.querySelector('#remove-search').style.display = 'block'
            document.querySelector('#search').value = queryParam.get("search")
        }
    </script>
{% endblock %}