{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - 404
{% endblock %}

{% block content %}
    <section class="pt-4 sm:pt-12">
        <h1 class="text-4xl font-bold pb-2 text-center">Erreur 404</h1>
        <p class="text-center py-6 text-lg">Cette page n'existe pas.... Redirigez-vous sur la page d'accueil.</p>
        <div class="flex justify-center mb-8 mt-6">
            <a href="/" class="bg-blue-500 hover:bg-blue-400 rounded py-2 px-6 text-white font-semibold">Accueil</a>
        </div>
        <hr>
    </section>
{% endblock %}
