{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Les articles
{% endblock %}

{% block content %}
    <section>
        <h1 class="text-2xl font-bold pb-2">Tous les articles</h1>
        <p class="text-gray-800 max-w-2xl py-6">Découvrez une technologie spécifique à travers une série d'article qui
            vous gui vous aidera durant votre
            apprentissage.</p>
        <hr class="mb-8">
        {% for post in postsPaginate.data %}
            <article class="px-6 py-5 mb-6  bg-gray-100 rounded-md card-post">
                <a href="/posts/{{ post.id }}">
                    <div class="flex justify-between mb-2 flex-col-reverse gap-2 sm:gap-0 sm:flex-row ">
                        <h3 class="text-lg font-semibold">
                            {{ post.title }}
                        </h3>
                        <span class="text-sm text-gray-500 font-regular">{{ post.createdAt|date('d/m/Y') }}</span>
                    </div>
                    <p style="font-size: 15px" class="mt-1">
                        {{ post.teaser }}
                    </p>
                </a>
            </article>
        {% else %}
            <p>Aucun article n'est disponible pour le moment...</p>
        {% endfor %}
    </section>
    {% include 'components/pagination.twig' with {'paginate': postsPaginate, 'link': '/posts'} only %}
{% endblock %}
