{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - {{ post.title }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../css/ckeditor.css"/>
{% endblock %}

{% block content %}
    <section class="pb-12 pt-2 sm:pt-8">
        <h1 class="text-3xl leading-9 font-bold pb-4 sm:text-4xl mb-4">{{ post.title }}</h1>
        <div class="flex flex-col gap-3 pt-4 sm:flex-row">
            <span class="text-gray-600 block">Publié le <b>{{ post.createdAt|date('d/m/Y') }}</b></span>
            {% if post.createdAt != post.updatedAt %}
                <span class="text-gray-600 block"> modifié le <b>{{ post.updatedAt|date('d/m/Y') }}</b></span>
            {% endif %}
            <span class="text-gray-600 block">par <b>{{ user.name }}</b></span>
        </div>
        <div class="p-4 bg-gray-100 mt-10 rounded">
            <p class="text-xl font-bold pb-2">Introduction :</p>
            <p>{{ post.teaser }}</p>
        </div>
        <hr class="mt-8">
    </section>

    <section class="editor my-4">{{ post.content|raw }}</section>

    <hr class="mt-10">
    <section class="mt-8">
        <h2 class=" sm:text-3xl text-2xl font-semibold"><i class="far fa-comment mr-3"></i>Les commentaires</h2>
        <div class="flex flex-col gap-6 mt-6">
            {% for comment in comments %}
                <div class="bg-gray-100 rounded p-4">
                    <p>{{ comment.content }}</p>
                    <div class="flex justify-between pt-3">
                        <span class="font-semibold text-gray-700">{{ comment.username }}</span>
                        <span class="font-semibold text-gray-700 text-sm ml-2">{{ comment.createdAt|date('d/m/Y') }}</span>
                    </div>
                </div>
            {% else %}
                <p class="text-lg py-6">Aucun commentaire pour le moment...</p>
            {% endfor %}
        </div>
    </section>

    {% if session.get('auth') == null %}
        <section class="mt-8 p-6 bg-blue-100 rounded">
            <h2 class="text-2xl font-semibold">Ajouter un commentaire</h2>
            <p class="pt-2">Veuillez vous connecter pour ajouter un nouveau commentaire.
                <a href="/login" class="text-blue-500 hover:underline font-semibold">Se connecter</a>,
                <a href="/register" class="text-blue-500 hover:underline font-semibold">S'inscrire</a>
            </p>
        </section>
    {% else %}
        <section class="mt-8 rounded p-4 bg-blue-100">
            <h2 class="text-2xl font-semibold pb-6">Ajouter un commentaire</h2>
            {% include 'components/form.twig' with {'form': form} only %}
        </section>
    {% endif %}
{% endblock %}
