{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Les utilisateurs
{% endblock %}

{% block content %}
    <section>
        <a href="/admin" class="font-semibold text-white bg-gray-600 hover:bg-gray-500 rounded py-2 px-4">
            <i class="fas fa-angle-left"></i> Retour
        </a>
        <div class="flex justify-between items-center">
            <h1 class="text-4xl font-semibold py-8">Les utilisateurs</h1>
            {% include 'admin/users/_filters.twig' %}
        </div>
        <table class="rounded-t-lg w-full mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
                <th class="px-4 py-3">Prénom et nom</th>
                <th class="px-4 py-3">Adresse mail</th>
                <th class="px-4 py-3">Actions</th>
            </tr>
            {% for user in usersPaginate.data %}
                <tr class="bg-gray-100 border-b border-gray-200">
                    <td class="px-4 py-2"><a href="/admin/users/{{ user.id }}"
                                             class="text-blue-500 hover:underline">{{ user.name }}</a></td>
                    <td class="px-4 py-2">{{ user.email }}</td>
                    <td class="px-4 py-2 flex items-center gap-2">
                        <form action="/admin/users/{{ user.id }}/toggle-admin" method="post">
                            <button type="submit"
                                    class="{{ user.isAdmin ? 'bg-green-500 hover:bg-green-400' : 'bg-red-500 hover:bg-red-400' }}
                                    rounded py-1 px-2.5"
                                    title="changer le statut admin">
                                <i class="fas fa-user-secret text-white text-sm"></i>
                            </button>
                        </form>
                        <a href="/admin/users/{{ user.id }}/update-email" title="modifier l'adresse mail"
                           class="bg-orange-500 hover:bg-orange-400 rounded py-1 px-2.5">
                            <i class="fa fas-solid fa-pen text-white text-sm"></i>
                        </a>
                        <a href="/admin/users/{{ user.id }}/update-password" title="modifier le mot de passe"
                           class="bg-rose-500 hover:bg-rose-400 rounded py-1 px-2.5">
                            <i class="fa fas-solid fa-lock text-white text-sm"></i>
                        </a>
                        <form action="/admin/users/{{ user.id }}/destroy" method="post">
                            <button type="submit" class="bg-red-500 hover:bg-red-400 rounded py-1 px-2.5"
                                    title="supprimer">
                                <i class="fa fas-solid fa-trash text-white text-sm"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr class="bg-gray-100 border-b border-gray-200">
                    <td class="px-4 py-6 font-semibold text-center" colspan="3">Aucun utilisateur...</td>
                </tr>
            {% endfor %}
        </table>
        {% include 'components/pagination.twig' with {'paginate': usersPaginate, 'link': '/admin/users'} only %}
    </section>
{% endblock %}

{% block scripts %}
    <script>
        let queryParam = new URLSearchParams(window.location.search);
        if (queryParam.get("search")) {
            document.querySelector('#remove-search').style.display = 'block'
            document.querySelector('#search').value = queryParam.get("search")
        }
    </script>
{% endblock %}