{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Utilisateur
{% endblock %}

{% block content %}
    <section>
        <a href="/admin/users" class="font-semibold text-white bg-gray-600 hover:bg-gray-500 rounded py-2 px-4">
            <i class="fas fa-angle-left"></i> Retour
        </a>
        <h1 class="text-4xl font-semibold py-8">{{ user.name }}</h1>
        <span class="font-semibold text-lg">Adresse mail : {{ user.email }}</span>
    </section>

    <section>
        <h2 class="text-3xl font-semibold pb-6 pt-12">Les articles</h2>
        <table class="rounded-t-lg w-full mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
                <th class="px-4 py-3">Titre</th>
                <th class="px-4 py-3">teaser</th>
                <th class="px-4 py-3">Date de création</th>
            </tr>
            {% for post in posts %}
                <tr class="bg-gray-100 border-b border-gray-200">
                    <td class="px-4 py-2">
                        <a href="/posts/{{ post.id }}" class="text-blue-500 hover:underline">{{ post.title }}</a>
                    </td>
                    <td class="px-4 py-2">
                        {{ post.teaser|split('', 180)|first }}...
                    </td>
                    <td class="px-4 py-2">{{ post.createdAt|date('d/m/Y') }}</td>
                </tr>
            {% else %}
                <tr class="bg-gray-100 border-b border-gray-200">
                    <td class="px-4 py-6 font-semibold text-center" colspan="3">Aucun article...</td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <section>
        <h2 class="text-3xl font-semibold pb-6 pt-12">Les commentaires</h2>
        <table class="rounded-t-lg w-full mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
                <th class="px-4 py-3">Contenu</th>
                <th class="px-4 py-3">Article</th>
                <th class="px-4 py-3">Date de création</th>
            </tr>
            {% for comment in comments %}
                <tr class="bg-gray-100 border-b border-gray-200">
                    <td class="px-4 py-2">{{ comment.content }}</td>
                    <td class="px-4 py-2">
                        <a href="/posts/{{ comment.post_id }}"
                           class="text-blue-500 hover:underline">{{ comment.post_title|split('', 20)|first }}...</a>
                    </td>
                    <td class="px-4 py-2">{{ comment.createdAt|date('d/m/Y') }}</td>
                </tr>
            {% else %}
                <tr class="bg-gray-100 border-b border-gray-200">
                    <td class="px-4 py-6 font-semibold text-center" colspan="3">Aucun commentaire...</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
