{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Modifer le mot de passe d'un utilisateur
{% endblock %}

{% block content %}
    <section>
        <a href="/admin/users" class="font-semibold text-white bg-gray-600 hover:bg-gray-500 rounded py-2 px-4">
            <i class="fas fa-angle-left"></i> Retour
        </a>
        {% include 'components/form.twig' with {'form': form} only %}
    </section>
{% endblock %}
