{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Contact
{% endblock %}

{% block styles %}
    <style>
        body {
            background: rgb(59 130 246 / 0.05);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="sm:pt-12">
        <section class="mx-auto max-w-lg px-4 sm:px-8 py-8 border rounded bg-white">
            <h1 class="text-3xl sm:text-4xl font-bold text-center pb-6">Me contacter</h1>
            <p class="max-w-sm mx-auto text-center pb-4">N'hésitez pas à me contacter, je vous répondrez
                dans les plus brefs délais.</p>
            {% include 'components/form.twig' with {'form': form} only %}
        </section>
    </div>
{% endblock %}
