{% extends 'layouts/layout.twig' %}

{% block title %}
    MLLT - Accueil
{% endblock %}

{% block content %}
    <section class="flex flex-col-reverse sm:flex-row gap-8 sm:gap-16 items-center w-full justify-between">
        <div class="flex flex-col gap-8">
            <h1 class="text-3xl font-bold" style="font-family: system-ui">
                Hey, je suis Maxime Moilliet.
            </h1>
            <p class="max-w-lg text-md leading-22">
                Développeur frontend spécialisé React Typescript, Actuellement alternant
                <a class="text-purple-500"
                   href="https://openclassrooms.com"
                   target="_blank">
                    OpenClassrooms <i style="font-size: 10px; transform: translateY(-4px)"
                                      class="fas fa-external-link-alt"></i>
                </a> sur le parcours développeur d'application Symfony.
            </p>
            <ul class="flex gap-2 sm:gap-8">
                <li class="hover:bg-gray-100 px-4 py-2 rounded-md">
                    <a class="font-semibold"
                       href="https://github.com/Maxime-Moilliet"
                       target="_blank">
                        <i style="font-size: 18px" class="fab fa-github mr-1"></i>
                        GitHub<i style="font-size: 10px; transform: translateY(-4px)"
                                 class="fas fa-external-link-alt ml-1">
                        </i>
                    </a>
                </li>
                <li class="hover:bg-gray-100 px-4 py-2 rounded-md">
                    <a class="font-semibold text-orange-600"
                       href="https://gitlab.com/mlltmax66"
                       target="_blank">
                        <i style="font-size: 18px" class="fab fa-gitlab mr-1"></i>
                        GitLab
                        <i style="font-size: 10px; transform: translateY(-4px)"
                           class="fas fa-external-link-alt ml-1"></i>
                    </a>
                </li>
            </ul>
        </div>
        <img style="width: 260px"
             src="../images/avatar.svg"
             alt="image profil Maxime Moilliet"/>
    </section>

    <section class="w-full bg-gray-100 rounded-md py-4 px-6 relative mt-12 hover:scale-105 ease-in-out duration-300">
        <a href="/cv" class="flex justify-betwwen items-center">
            <img src="../images/cv.png"
                 style="width: 60px; height: 60px"
                 class="hidden sm:block"
                 alt="cv"/>
            <div class="sm:ml-4">
                <div class="flex justify-between flex-col-reverse gap-2 sm:flex-row sm:gap-0">
                    <h3 class="font-semibold text-lg">
                        En savoir plus sur moi.
                    </h3>
                    <span class="text-sm text-purple-500">
                        Téléchager <i class="fas fa-download"></i>
                    </span>
                </div>
                <p class="text-sm mt-1">
                    Découvrez mon parcours scolaire et professionnel, l'ensemble de mes
                    compétences acquises ainsi que mes différentes expériences
                    effectuées...
                </p>
            </div>
        </a>
    </section>

    <section class="mt-16">
        <h2 class="text-2xl font-bold mb-8">
            Mes récents articles
        </h2>
        {% for post in posts %}
            <article class="px-6 py-5 mb-6  bg-gray-100 rounded-md card-post">
                <a href="/posts/{{ post.id }}">
                    <div class="flex flex-col-reverse gap-2 sm:gap-0 sm:flex-row justify-between mb-2">
                        <h3 class="text-lg font-semibold">
                            {{ post.title }}
                        </h3>
                        <span class="text-sm text-gray-500 font-regular">{{ post.createdAt|date('d/m/Y') }}</span>
                    </div>
                    <p style="font-size: 15px" class="mt-1">
                        {{ post.teaser }}
                    </p>
                </a>
            </article>
        {% else %}
            <p>Aucun article n'est disponible pour le moment...</p>
        {% endfor %}
    </section>
{% endblock %}
