<footer class="bg-gray-100">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 py-12 pb-16 flex justify-between flex-col gap-6 sm:flex-row">
        <div>
            <h4 class="font-bold text-xl">
                MLLT.
            </h4>
            <p class="text-sm mt-1">
                Bienvenue sur mon blog !
            </p>
        </div>
        <ul class="gap-1 flex flex-col">
            <li><a class="hover:underline" href="/">Accueil</a></li>
            <li><a class="hover:underline" href="/posts">Articles</a></li>
            <li><a class="hover:underline" href="/contact">Contact</a></li>
        </ul>
        <ul class="gap-1 flex flex-col">
            <li>
                <a class="hover:underline" href="https://github.com/Maxime-Moilliet" target="_blank">
                    GitHub <i style="font-size: 10px; transform: translateY(-4px)" class="fas fa-external-link-alt"></i>
                </a>
            </li>
            <li>
                <a class="hover:underline" href="https://gitlab.com/mlltmax66" target="_blank">
                    GitLab <i style="font-size: 10px; transform: translateY(-4px)" class="fas fa-external-link-alt"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>