<Header class="shadow-sm bg-white fixed top-0 right-0 left-0 w-full z-10">
    <div class="max-w-4xl mx-auto px-4 py-4 sm:px-6 flex items-center justify-between">
        <div class="flex items-center gap-3 sm:gap-8">
            <a class="font-bold text-xl" href="/">MLLT.</a>
            <nav>
                <a class="text-sm hover:underline" href="/posts">Articles</a>
                <a class="text-sm ml-2 sm:ml-4 hover:underline" href="/contact">Contact</a>
            </nav>
        </div>
        <div class="flex items-center">
            {% if session.get('auth') != null %}
                <div class="relative">
                    <div id="menu-button" class="rounded-full bg-blue-500 py-2 px-4 flex items-center justify-center
                        text-white font-bold border border-blue-500 cursor-pointer">
                        {{ session.get('auth').name|first }}
                    </div>
                    <div class="absolute top-12 right-0 bg-white border border-gray-200 rounded hidden" id="menu">
                        <ul>
                            {% if session.get('auth').isAdmin == 1 %}
                                <li class="whitespace-nowrap py-2 px-4 hover:bg-gray-100 cursor-pointer select-none"
                                    style="font-size: 15px">
                                    <a href="/admin"><i class="fas fa-user-secret mr-2"></i> Administration</a>
                                </li>
                            {% endif %}
                            <li class="whitespace-nowrap py-2 px-4 hover:bg-gray-100 cursor-pointer
                                text-red-500 select-none" style="font-size: 15px">
                                <form action="/logout" method="post">
                                    <button type="submit">
                                        <i class="fas fa-sign-out-alt mr-2"></i>Se déconnecter
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <a class="text-sm hover:underline hidden sm:block" href="/register">S'inscrire</a>
                <a class="ml-2 sm:ml-4 px-2 sm:px-3 sm:py-2 py-1.5 bg-blue-500 rounded-md text-white
                    text-sm hover:bg-blue-400 ease-in duration-100"
                   href="/login">Se connecter</a>
            {% endif %}
        </div>
    </div>
</Header>