<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Maxime Moilliet"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Blog project"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
          crossorigin="anonymous"/>
    {% block styles %}{% endblock %}
</head>
<body>

{% include 'layouts/_alert.twig' %}

{% include 'layouts/_header.twig' %}

<main class="max-w-4xl mx-auto px-4 sm:px-6 my-16 pt-16" style="min-height: 80vh">
    {% block content %}{% endblock %}
</main>

{% include 'layouts/_footer.twig' %}

<script src="../../js/alert.js" defer></script>
<script src="../../js/menu.js" defer></script>
{% block scripts %}{% endblock %}
<script>

</script>
</body>
</html>
